body {
    min-height: 300px;
    min-width: 300px;
}

#div-fields {
    display: none;
}

select {
    width: 300px;
    length: 300px;
}

button.primary {
    color: white;
    background-color: #0052CC;
    margin-top: 10px;
    width: 100%
}

img {
    width: 100%;
}